.box{
	background-color: orange;
	height: 100px;
	display: flex;

}
h3{
	margin: auto;
	position: relative;
	/*line-height: 100px*/
}
h3::after{
	position: absolute;
	content: "";
	
	left: 0;
	border-left: 3px solid #333;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
}